<%- include("partials/header") -%>
    <%- include("partials/navbar") -%>
    <% var i =1; %>

<table class="table table_hover">
    <thead>
        
      <tr>
        <th scope="col">#</th>
        <th scope="col">Team name</th>
        <th scope="col">IGL</th>
        
      </tr>
    </thead>
    <tbody>
    <%details.forEach( function(detail){%>  
        <tr>
        <th scope="row"><%=i%></th>
        <td><%=detail.teamname%></td>
        <td><%=detail.ign%></td>
        
      </tr>
      <% i = i+1; %>
    </tbody>
    <%})%>  
  </table>
    



    <%- include("partials/footer") -%>