<%- include("partials/header") -%>
    <% var i =1; %>
<%- include("partials/navbar") -%>

<table class="table table-bordered table-hover">
    <thead>
        
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">No. of teams</th>
        <th scope="col">Time</th>
        <th scope="col">Prizepool</th>
        
        <th scope="col"> Info </th>
      </tr>
    </thead>
    <tbody>
    <%matchdetails.forEach( function(matchdetail){%>  
        <tr>
          <% 
          var getTheDate = (matchdetail.date + "") %> 
        <td scope="row"><%=i%></td>
        <td ><%=matchdetail.name%></td>
        <td><%=matchdetail.number%></td>
        <td><%= getTheDate.substring(15,21)+ "  "+getTheDate.substring(0,3)+" , "+ getTheDate.substring(3,10)%></td>
        <td><%=matchdetail.prizepool%></td>
        
        <td><a type="button" class="btn btn-dark chipke" href="/tournament/<%= matchdetail.name.substring(0,12) %>">Apply</a>                <a type="button" class="btn btn-dark chipke" href="/tournament/list/<%= matchdetail.name %>">Regsitered teams</a></td>
      
      </tr>
      <% i = i+1; %>
    </tbody>
    <%})%>  
  </table>
<%- include("partials/footer") -%>